<footer>
    <div class="f-container">
      <div class="f-socials">
        <div class="f-child">
          <h3>
            Follow Us on
          </h3>
          <div class="social">
            <a href="https://www.linkedin.com/company/eco-tours-karnataka/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/ecotourskarnataka/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100087645501145&mibextid=ZbWKwL"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.youtube.com/@ecotourskarnataka/featured"><i class="fa-brands fa-square-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="f-links">
        <div class="f-link-tab">
          <h3>Contact Info</h3>
          <ul>
            <li><a href="tel:+91-6363703398">Call us at +91 6363703398</a></li>
            <li><p>Work Hours: 10:00 AM - 6:00 PM <br> <br>( Monday - Friday )</p></li>

          </ul>
        </div>
        <div class="f-link-tab">
          <ul>
            <h3>Support</h3>
            <li><a href="{{ site.url }}/faq">FAQs</a></li>
            <li><a href="tel:+91-6363703398">Refunds/Cancellations</a></li>
            <li><a href="{{ site.url }}/terms-and-conditions">Terms and Conditions</a></li>
            <li><a href="{{ site.url }}/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="f-link-tab">
          <h3>Resources</h3>
          <ul>
            <li><a href="{{ site.url }}/blog">Blog</a></li>
            <li><a href="{{ site.url }}/corporate-outings">Corporate Outings</a></li>
            <li><a href="{{ site.url }}/about">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copy">
      <p>&copy; 2023 Eco Tours Karnataka</p>
    </div>
  </footer>