---
layout: default
---

<div class="abt-wrapper">
    <section class="abt-hero">
        <div class="abt-hero-hold abt-size">
            <div class="abt-txt">
                <p class="small-txt">About Us</p>
                <h1>Reconnecting You with Nature</h1>
                <p class="abt-desc">Eco Tours Karnataka was founded with intention of offering and promoting sustainable travel experiences, connecting guests with nature while preserving the environment and uplifting local communities in Karnataka. Help you discover hidden gems with expert guides, from forests to beaches. Recharge and reconnect with unforgettable itineraries. Join us in leaving a positive impact on the world.</p>
                <a href="#team" class="abt-btn">Meet Our Team</a>
                </div>
                <div class="abt-img">
                    <img src="{{ site.baseurl }}/assets/images/eco-tours-no-bg.png" alt="ETK Logo">
                    
                </div>
        </div>
    </section>
    <section class="m-v-v">
        <div class="m-v-v-card" data-aos="flip-left">
            <img src="{{ site.baseurl }}/assets/images/target.png" alt="Mission">
            <h3>ETK's Mission</h3>
            <p>Our mission is to offer sustainable, authentic and affordable experiences across Karnataka.</p>
        </div>
        <div class="m-v-v-card" data-aos="flip-left">
            <img src="{{ site.baseurl }}/assets/images/vision.png" alt="Vission">
            <h3>ETK's Vision</h3>
            <p>Our vision is to become a leading provider of sustainable travel experiences in Karnataka and promoting responsible tourism.</p>
        </div>
        <div class="m-v-v-card" data-aos="flip-left">
            <img src="{{ site.baseurl }}/assets/images/environmental-protection.png" alt="Values">
            <h3>ETK's Values</h3>
            <p>Our Core Values are - Trust, Loyalty, Respect and Efficiency</p>
        </div>
    </section>
    <section id="team" class="team">
        <h2>Advisory Board</h2>
        <div class="team-hold">
            <div class="team-card">
                <img src="{{ site.baseurl }}/assets/images/team/v-salimath.jpg" alt="Vijay Salimath">
                <h3>Vijay Salimath<br><span>(Hon.Advisor)</span></h3>
            </div>
        </div>
    </section>
    <section id="team" class="team">
        <h2>Meet Our Team</h2>
        <div class="team-hold">
            <div class="team-card">
                <img src="{{ site.baseurl }}/assets/images/team/s-salimath.png" alt="Sharada Salimath">
                <h3>Sharada Salimath<br><span class="desig">Chief Executive Officer</span></h3>
            </div>
            <div class="team-card">
                <img src="{{ site.baseurl }}/assets/images/team/meee-1.webp" alt="Yateesh S">
                <h3>Yateesh S<br><span class="desig">Chief Business Officer<br><span>(Customer Experience)</span></span></h3>
            </div>
            <div class="team-card">
                <img src="{{ site.baseurl }}/assets/images/team/thanu.webp" alt="Thanushree K">
                <h3>Thanushree K<br><span class="desig">Content<br>Strategist</span></h3>
            </div>
            <div class="team-card">
                <img src="{{ site.baseurl }}/assets/images/team/adithya.jpg" alt="William Isaac Bennet">
                <h3>Adithya Todkari<br><span class="desig">Marketing Lead</span></h3>
            </div>
            <div class="team-card">
                <img src="{{ site.baseurl }}/assets/images/team/William.webp" alt="William Isaac Bennet">
                <h3>William Isaac Bennet<br><span class="desig">Content Producer</span></h3>
            </div>
            <div class="team-card">
                <img src="{{ site.baseurl }}/assets/images/team/akshitha.png" alt="Akshitha L">
                <h3>Akshitha L<br><span class="desig">Social Media Manager &<br>Content Writer</span></h3>
            </div>
            <div class="team-card">
                <img src="{{ site.baseurl }}/assets/images/team/vivek.webp" alt="Vivek M A">
                <h3>Vivek M A<br><span class="desig">Operations<br>Manager</span></h3>
            </div>
            <div class="team-card">
                <img src="{{ site.baseurl }}/assets/images/team/shaik.jpg" alt="Shaik Shahid Siddique">
                <h3>Shaik Shahid Siddique<br><span class="desig">Video Editing &<br> Graphic Designing</span></h3>
            </div>
        </div>
    </section>
</div>
