---
layout: default
---

<div class="blog-hero" style="background-image: url('{{ site.baseurl }}assets/images/blog-hero.jpg');">
    <div class="blog-txt">
        <div class="txt-change">
            <h1>ADVENTURE DAIRIES<br>
              <span class='random-word'></span>
            </h1>
        </div>
    </div>  
</div>

<div class="blog-container">
    <div class="blog-heading"><h1>Latest Blogs</h1></div>
    <div class="under">
    </div>
    <section class="container containeree">
    {% for post in site.posts %}
      {%- include blog-card.html -%}          
      
    {% endfor %}
    </section>
</div>